@use "reset";
@use "variables" as *;

body {
  font-family: $main-font !important;
  background-color: $light-gray !important;
}

.card {
  max-width: max(10vw, 25rem);
  box-shadow: 0 0 10px rgba($color: $dark-blue, $alpha: 0.125);

  .card-body {
    h3 {
      font-weight: $font-bold;
      color: $dark-blue;
    }

    p {
      font-weight: $font-regular;
      color: $grayish-blue;
    }
  }
}
